// IMPORTING:
@import '../../helpers/vars';

section.FAQ {
  margin: 50px 10px;

  h2.FAQ-heading {
    text-align: center;
    font-weight: bold;
    color: $v-dark;
    font-family: $main-font;
  }

  .questions-container {
    min-height: 30rem;
    padding: 2rem 0;

    ul.questions {
      padding-top: 50px;

      li.question {
        transition: all ease-in-out 0.2s;
        border-bottom: 1px dashed $c-gray;
        font-size: 20px;
        border-radius: 2px;
        position: relative;
        cursor: pointer;
        padding: 0.7rem;

        &:hover {
          background: #e6e6e6;
        }

        .toggler {
          overflow: hidden;
          @include FAQ-toggling;

          .toggler-viewer {
            position: absolute;
            top: -11px;
            transition: all ease-in-out 0.1s;
          }

          span {
            display: block;
            font-size: 2rem;
          }
        }
      }

      p.answer {
        transition: all ease-in-out 0.1s;
        max-height: 0;
        overflow: hidden;
        border-radius: 3px;
        margin: 0;
      }
    }
  }
}
