// IMPORTING:
@import "../../helpers/vars";

section.FAQ {
  margin: 50px 10px;

  h2.FAQ-heading {
    text-align: center;
    font-weight: bold;
    color: $v-dark;
    font-family: $main-font;
  }

  .questions-container {
    ul.questions {
      padding-top: 50px;

      li.question {
        padding: 10px 18px 10px;
        border-bottom: 1px dashed $c-gray;
        font-size: 20px;
        border-radius: 2px;
        position: relative;
        cursor: pointer;

        .toggler {
          background: $c-gray-9;
          overflow: hidden;
          @include FAQ-toggling;

          .toggler-viewer {
            position: absolute;
            top: -5px;
          }

          span {
            display: block;
          }
        }
      }

      p.answer {
        transition: all ease-in-out 0.2s;
        margin-top: 15px;
        margin-left: 20px;
        max-height: 0;
        overflow: hidden;
        border-radius: 3px;
      }
    }
  }
}
