// IMPORTING:
@import "../../helpers/vars";

header.header.home-header {
  background: url("../imgs/header/header-cover-bk.svg") 50% / cover;
  height: 80vh;
  padding: 50px 40px 20px;

  .header.content {
    margin-top: 30px;

    h1.header-heading {
      font-size: 70px;
      font-family: $main-font;
      font-weight: bolder;
    }

    p.header-description {
      font-size: 23px;
      margin-left: 2px;
      color: $c-alt;
    }

    button.btn.get-free-trail {
      padding: 13px 10px 10px;
      font-weight: bolder;
      // font-size: 14px;
      text-transform: uppercase;
      border: 1px solid $alt-cl-d;
      border-right-width: 4px;
      border-bottom-width: 4px;
      background: $alt-cl;
      color: $c-gray;
    }
  }
}
