// IMPORTING:
@import "../../helpers/vars";

section.preFooter {
  background: linear-gradient(45deg, #40407a, #525296);
  margin-top: 100px;
  padding: 40px 10px;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;

  h2.prefooter-heading {
    margin-bottom: 20px;
    font-weight: bolder;
    color: $v-dark;
    color: $c-gray;
    font-size: 60px;
    font-family: $main-font;
  }

  p.prefooter-description {
    margin-bottom: 40px;
    color: $c-gray;
    font-size: 18px;
  }

  button.prefooter-btn.btn {
    background: $c-gray;
    font-weight: bolder;
    border-bottom: 4px solid #fff;
    padding: 15px 35px 10px;
    margin-top: 50px;
  }
}
