// IMPORTS:
@import "../../helpers/vars";

section.services {
  .services-container {
    margin-top: 50px;

    .all-services {
      border-bottom: 1px solid #333;
      padding-top: 50px;
      margin-bottom: 10px;

      .service-block-block1,
      .service-block-block2,
      .service-block-block3 {
        padding-left: 70px;
        padding-bottom: 50px;
        margin-top: 50px;

        .wing.text-wing {
          p.service-block-flag {
            color: $alt-cl-l;
            font-weight: bold;
            font-size: 15px;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
          }

          h2.service-block-heading {
            font-weight: bold;
            color: $v-dark;
            font-family: $bold-font;

            span.youRender {
              color: $main-cl;
            }
          }

          p.service-block-text {
            color: $c2-alt;
          }

          ul.service-block-features {
            margin-top: 30px;
            margin-bottom: 30px;

            li {
              padding: 7px 0 0 5px;
              margin-bottom: 2px;

              span.feature-icon {
                margin-right: 10px;
                color: $alt3-cl-l;
                margin-right: 10px;
              }

              span.feature-text {
                font-weight: bolder;
                color: $c-alt;
                position: relative;

                &::after {
                  content: "";
                  display: block;
                  height: 1px;
                  background: $c-gray;
                  position: absolute;
                  top: 17px;
                  left: 3px;
                  right: -125px;
                }
              }
            }
          }
          button.btn.service-block-btn {
            border: 2px solid $alt-cl-d;
            padding: 14px 20px 5px;
            background: $alt-cl;
            color: $c-gray;
            font-weight: bolder;
            text-transform: uppercase;
          }
        }

        .wing.img-wing {
          padding: 10px;
        }
      }

      // reset the global cascading for block2.
      .service-block-block2 {
        padding-right: 70px;
        padding-left: 0;

        .wing.text-wing {
          p.service-block-flag {
            color: $alt3-cl-l;
          }

          ul.service-block-features {
            li {
              span.feature-icon {
                color: $main-cl;
                font-size: 25px;
                margin-top: -8px;
              }
            }
          }
          button.btn.service-block-btn {
            border: 2px solid $alt3-cl-d;

            background: $alt3-cl;
          }

          a.feature-browse-all {
            text-decoration: none;

            p {
              color: $main-cl;
              margin-top: 10px;
              margin-left: 2px;
            }
          }
        }
      }

      // reset the global cascading for block3.
      .service-block-block3 {
        .wing.text-wing {
          p.service-block-flag {
            color: $alt2-cl-l;
          }

          ul.service-block-features {
            li {
              span.feature-icon {
                color: $alt-cl;
                margin-top: -8px;
              }
            }
          }
          button.btn.service-block-btn {
            border: 2px solid $alt2-cl-d;
            color: $c-alt;
            background: $alt2-cl;
          }

          a.feature-browse-all {
            text-decoration: none;

            p {
              color: $main-cl;
              margin-top: 10px;
              margin-left: 2px;
            }
          }
        }
      }
    }
  }

  .demos {
    border-bottom: 1px solid #333;
  }
}
