// IMPORTS:
@import '../../helpers/vars';

section.services {
  .services-container {
    margin-top: 50px;

    .all-services {
      padding-top: 50px;
      margin-bottom: 10px;

      .service-block-block1,
      .service-block-block2,
      .service-block-block3 {
        padding: 50px 3rem;
        margin-top: 50px;

        .wing.text-wing {
          margin-top: 2rem;
          margin-bottom: 4rem;
          p.service-block-flag {
            color: $alt-cl-l;
            font-weight: bold;
            font-size: 15px;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
          }

          h2.service-block-heading {
            font-weight: bold;
            color: $v-dark;
            font-family: $main-font;

            span.youRender {
              color: $main-cl;
            }
          }

          p.service-block-text {
            color: $c2-alt;
          }

          ul.service-block-features {
            margin-top: 30px;
            margin-bottom: 30px;

            li {
              padding: 7px 0 0 5px;
              margin-bottom: 2px;

              span.feature-icon {
                margin-right: 10px;
                color: $alt3-cl-l;
                margin-right: 10px;
              }

              span.feature-text {
                font-weight: bolder;
                color: $c-alt;
                position: relative;

                &::after {
                  content: '';
                  display: block;
                  height: 1px;
                  background: $c-gray;
                  position: absolute;
                  top: 17px;
                  left: 3px;
                  right: 0;
                }
              }
            }
          }

          button.btn.service-block-btn {
            border: 2px solid $alt-cl-d;
            padding: 10px 15px 5px;
            background: $alt-cl;
            color: $c-gray;
            text-transform: uppercase;
          }
        }

        .wing.img-wing {
          padding: 10px;
        }
      }

      section.declaration {
        margin-bottom: 70px;
        padding-top: 20px;

        .dec-header {
          p.header-text.text-center {
            padding: 14px 6px 4px;
            border-left: 3px solid #f0654c;
            margin-top: 20px;
            margin-bottom: 70px;
            font-size: 17px;
          }
        }

        .dec-body {
          padding: 0 3rem;

          .dec-body-img {
            padding: 0 5rem;
            img {
            }
          }

          .dec-body-text {
            margin-top: 5rem;
            text-align: center;
            .dec-logo {
              background: url('../imgs/services/services-declaration-logo.svg');
              width: 40px;
              height: 40px;
              background-size: cover;
              margin: 10px;
              margin: 2rem auto;
              border: 5px solid #ddd;
              border-radius: 50%;
              padding: 20px;
              border-top-style: dotted;
            }

            h2.dec-heading {
              font-weight: bold;
              color: $v-dark;
              font-family: $main-font;
              span.youRender {
              }
            }

            p.dec-description {
              color: $c2-alt;
              font-size: 18px;

              span.dec-awa {
                font-weight: bold;
              }
            }
          }
        }

        p.dec-directed.text-center {
          padding: 14px 6px 4px;
          margin-top: 20px;
          margin-bottom: 70px;

          span.dec-directed-link {
            a.dec-link {
              text-decoration: none;
              color: $alt-cl-l;
            }
          }
        }

        .dec-footer {
          padding: 20px 10px 15px;
          margin-top: 50px;
          margin-bottom: 100px;
        }

        h6.footer-heading {
          text-transform: uppercase;
          color: $c3-alt;
        }

        a.awa-page {
          button {
            padding: 8px 20px 6px;
            border: 2px solid $alt-cl-d;
            background: $alt-cl;
            color: $c-gray;
          }
        }
      }

      // reset the global cascading for block2.
      .service-block-block2 {
        // padding-right: 70px;
        padding-left: 0;

        .wing.text-wing {
          p.service-block-flag {
            color: $alt3-cl-l;
          }

          ul.service-block-features {
            li {
              span.feature-icon {
                color: $main-cl;
                font-size: 25px;
                margin-top: -8px;
              }
            }
          }
          button.btn.service-block-btn {
            border: 2px solid $alt-cl-d;
            background: $alt-cl;
          }

          a.feature-browse-all {
            text-decoration: none;

            p {
              color: $main-cl;
              margin-top: 10px;
              margin-left: 2px;
            }
          }
        }
      }

      // reset the global cascading for block3.
      .service-block-block3 {
        .wing.text-wing {
          p.service-block-flag {
            color: $alt2-cl-l;
          }

          ul.service-block-features {
            li {
              span.feature-icon {
                color: $alt-cl;
                margin-top: -8px;
              }
            }
          }
          button.btn.service-block-btn {
            color: $c-gray;
            border: 2px solid $alt-cl-d;
            background: $alt-cl;
          }

          a.feature-browse-all {
            text-decoration: none;

            p {
              color: $main-cl;
              margin-top: 10px;
              margin-left: 2px;
            }
          }
        }
      }
    }
  }

  section.demos {
    .demo-card {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      transition: box-shadow ease-in-out 0.3s;

      span.card-flag.uppercase {
        text-transform: uppercase;
        color: $alt-cl;
        font-weight: bolder;
        font-size: 13px;
      }

      h2.card-heading {
        font-family: $main-font;
      }
      .card-img {
      }
    }
    .card2,
    .card3 {
      box-shadow: 8px 10px 26px -17px #0000009c;
    }
  }
}
