// HELPERS:==>
@import "./helpers/vars";
@import "./helpers/globals";
@import "./helpers/mixins";

// COMPONENTS:==>
@import "./components/nav";

// LAYOUTS:==>
// home layouts:

// HEADER->
@import "./layouts/home/_header.section.scss";
// SHOWCASE->
@import "./layouts/home/showcase.layout";
// SERVICES->
@import "./layouts/home/services.section";
// SERVICES->
@import "./layouts/home/more-about.section";

@import "./helpers/mediaQ"; // media file must be always the last file to apply changes as expected.
