//- IMPORTING:
include ../../helpers/mixins.pug

section.FAQ
  .container
    h2.FAQ-heading
      | FAQ's

    .questions-container
      ul.questions
        li.question question [1]
          .toggler
            .toggler-viewer
              span.toggling-icon-plus
                +faq-plus-icon

              span.toggling-icon-minus
                +faq-minus-icon
        p.answer answer


        li.question question [2]
          .toggler
            .toggler-viewer
              span.toggling-icon-plus
                +faq-plus-icon

              span.toggling-icon-minus
                +faq-minus-icon
        p.answer answer


        li.question question [3]
          .toggler
            .toggler-viewer
              span.toggling-icon-plus
                +faq-plus-icon

              span.toggling-icon-minus
                +faq-minus-icon
        p.answer answer


        li.question question [4]
          .toggler
            .toggler-viewer
              span.toggling-icon-plus
                +faq-plus-icon

              span.toggling-icon-minus
                +faq-minus-icon
        p.answer answer
