//- IMPORTING:
include ../../helpers/mixins.pug

section.FAQ
  .container
    h2.FAQ-heading
      | FAQ's

    .questions-container
      ul.questions
        li.question(data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000")
          h4 Is that free?
          .toggler
            .toggler-viewer
              span.toggling-icon-plus
                +faq-plus-icon

              span.toggling-icon-minus
                +faq-minus-icon
        p.answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sequi temporibus, facilis aspernatur explicabo a reprehenderit similique velit impedit, odit praesentium, error eligendi perferendis eos distinctio. Repellendus neque quisquam odio?


        li.question(data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000")
          h4 Can i use multiple accounts?
          .toggler
            .toggler-viewer
              span.toggling-icon-plus
                +faq-plus-icon

              span.toggling-icon-minus
                +faq-minus-icon
        p.answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sequi temporibus, facilis aspernatur explicabo a reprehenderit similique velit impedit, odit praesentium, error eligendi perferendis eos distinctio. Repellendus neque quisquam odio?


        li.question(data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="3000")
          h4 How to subscribe in newsletter?
          .toggler
            .toggler-viewer
              span.toggling-icon-plus
                +faq-plus-icon

              span.toggling-icon-minus
                +faq-minus-icon
        p.answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sequi temporibus, facilis aspernatur explicabo a reprehenderit similique velit impedit, odit praesentium, error eligendi perferendis eos distinctio. Repellendus neque quisquam odio?


        li.question(data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="4000")
          h4 How to remove my account/s?
          .toggler
            .toggler-viewer
              span.toggling-icon-plus
                +faq-plus-icon

              span.toggling-icon-minus
                +faq-minus-icon
        p.answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sequi temporibus, facilis aspernatur explicabo a reprehenderit similique velit impedit, odit praesentium, error eligendi perferendis eos distinctio. Repellendus neque quisquam odio?

