section.FAQ
  .container
    h2.FAQ-heading
      | FAQ's

    .questions-container
      ul.questions
        li.question question [1]
        p.answer
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis cum optio, deleniti omnis esse suscipit quaerat fugiat numquam ea magni provident maxime quod ex. Saepe fugiat quis vel aliquam accusantium.
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
          | Lorem, ipsum dolor sit amet consectetur
        li.question question [2]
        p.answer
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
        li.question question [3]
        p.answer
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
        li.question question [4]
        p.answer
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
        li.question question [5]
        p.answer
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
        li.question question [6]
        p.answer
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, ex.