header.header.home-header
  .container-fluid
    .header.content
      h1(data-aos="fade-up").header-heading
        | Open the doors to you imagination
      p(data-aos="fade-up").header-description
        | turn your ideas to an actual real thing with out products.
      a(href="#", data-aos="zoom-in-right").btn.get-free-trail
        | get your free trail now

