header.header.home-header
  .container-fluid
    .header.content
      h1.header-heading
        | Open the doors to you imagination
      p.header-description
        | turn your ideas to an actual real thing with out products.
      button.btn.get-free-trail
        | get your free trail now

