//- IMPORTING:
include ../../helpers/mixins.pug

section.more-about
  .about-ad
    .container-fluid
      h2.adv-heading
        | skyrocket your conversions
      p.adv-dec
        | skyrocket your conversions skyrocket your conversions skyrocket your conversions.
      button.adv-btn.btn
        | try youRender for free

  .more-about-container
    .what-we-do
      .container
        .what-we-do-block1.block
          h3.block-heading design better videos
          .we-do-row
            .row
              .col
                .row-item
                  .item-content
                    img(src="./imgs/more-about/more-about.svg" alt="alt")
                  h5.item-title 1 Million free adobe primer videos

              .col
                .row-item
                  .item-content 
                    img(src="./imgs/more-about/more-about.svg" alt="alt")
                  h5.item-title 1000+ google fonts
              .col
                .row-item
                  .item-content 
                    img(src="./imgs/more-about/more-about.svg" alt="alt")
                  h5.item-title 8000+ icons from popular icons & kits

        .what-we-do-block2.block
          h3.block-heading do more in less time
          .we-do-row
            .row
              .col
                .row-item
                  .item-content 
                    img(src="./imgs/more-about/more-about-withBK.svg" alt="alt")
                h5.item-title multi selection & edit

              .col
                .row-item
                  .item-content 
                    img(src="./imgs/more-about/more-about-withBK.svg" alt="alt")
                h5.item-title keyboard shortcuts

              .col
                .row-item
                  .item-content 
                    img(src="./imgs/more-about/more-about-withBK.svg" alt="alt")
                h5.item-title copy & paste modules and styles

              .col
                .row-item
                  .item-content 
                    img(src="./imgs/more-about/more-about-withBK.svg" alt="alt")
                h5.item-title save blocks as templates

        .what-we-do-block3.block
          h3.block-heading what's more in the pack?
          .we-do-row
            .row
              .col
                .we-do-block
                  .row-item
                    .item-content 
                      img(src="./imgs/more-about/more-about.svg" alt="alt")
                    h5.item-title color swatches & gradients

              .col
                .row-item
                  .item-content 
                    img(src="./imgs/more-about/more-about.svg" alt="alt")
                  h5.item-title background videos

              .col
                .row-item
                  .item-content 
                    img(src="./imgs/more-about/more-about.svg" alt="alt")
                  h5.item-title 99+ layout blocks

              .col
                .row-item
                  .item-content 
                    img(src="./imgs/more-about/more-about.svg" alt="alt")
                  h5.item-title CSS animation

    .coming-soon
      .flex-shield
        .container
          button.coming-soon-btn.btn coming soon
          .coming-soon-content
            .row
              .col
                p.item
                  span.item-icon
                    svg.bi.bi-check2(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z')
                  span.item-text dynamic text

              .col
                p.item
                  span.item-icon
                    svg.bi.bi-check2(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z')
                  span.item-text personalization

              .col
                p.item
                  span.item-icon
                    svg.bi.bi-check2(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z')
                  span.item-text teams

              .col
                p.item
                  span.item-icon
                    svg.bi.bi-check2(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z')
                  span.item-text adobe resources

              .col
                p.item
                  span.item-icon
                    svg.bi.bi-check2(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z')
                  span.item-text revision history


    section.ratings
      .container
        .row
          .col
            .rating-text-container
              h2.ratings-heading one of our clients feedback
              p.ratings-description 
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae tempore adipisci vero. Animi, assumenda.


              .ratings-block
                .row
                  .col
                    .r-box
                      h2.r-box-title 4.83/5
                      span.rating-stars
                        +star-icon
                        +star-icon
                        +star-icon
                        +star-icon
                        +star-icon-half
                      span.min-desc out of 15648 reviews
                  .col-7
                    .r-box
                      h2.r-box-title 765,568
                      span.min-desc trusted & loved by thousands

          .col-5
            .rating-img-container
              img(src="./imgs/more-about/more-about-ratings.png", alt="ratings-img", srcset="")
