section.preFooter.text-center
  .container
    .flex-shield
      h2.prefooter-heading
        | Ready to get more leads & sales?

      p.prefooter-description
        | Start a 14 day full featured trial. No Credit Card Required Choose a plan when you are ready. We have a forever free plan as well.

      button.prefooter-btn.btn
        | Get Started For Free

