section.services
  .container-fluid
    .services-container
      .all-services
        .service-block-block1
          .row
            .col
              .wing.text-wing
                p.service-block-flag
                  | try this services, it's free now.
                h2.service-block-heading
                  | get
                  span.youRender  youRender
                  |,
                  | and edit you videos everywhere

                p.service-block-text
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur minus, architecto mollitia vel exercitationem molestiae, obcaecati doloribus, hic et sint itaque dolore totam corrupti at vero officia. Eius, repudiandae?

                ul.service-block-features
                  li
                    span.feature-icon
                      svg.bi.bi-badge-4k-fill(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(d='M3.577 8.9v.03h1.828V5.898h-.062a46.781 46.781 0 0 0-1.766 3.001z')
                        path(fill-rule='evenodd' d='M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm2.372 3.715l.435-.714h1.71v3.93h.733v.957h-.733V11H5.405V9.888H2.5v-.971c.574-1.077 1.225-2.142 1.872-3.202zm7.73-.714h1.306l-2.14 2.584L13.5 11h-1.428l-1.679-2.624-.615.7V11H8.59V5.001h1.187v2.686h.057L12.102 5z')
                    span.feature-text
                      | heigh quality resolutions.

                  li
                    span.feature-icon
                      svg.bi.bi-cloud-upload-fill(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0z')

                    span.feature-text
                      | increase you cloud for cheap prices.

                  li
                    span.feature-icon
                      svg.bi.bi-shield-slash-fill(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1.357 3.478c-.42 3.969.87 6.928 2.423 8.911a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586.466-.32.983-.74 1.502-1.263L1.357 3.478zm11.787 7.545c1.145-1.984 1.902-4.644 1.444-8a1.454 1.454 0 0 0-1.003-1.183 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5c-.662 0-1.77.249-2.813.525-.548.145-1.1.303-1.59.45l9.547 9.548z')
                        path(fill-rule='evenodd' d='M14.646 15.354l-14-14 .708-.708 14 14-.707.707z')
                    span.feature-text
                      | lower ADs appeared





                button.btn.service-block-btn
                  | try it 15 days free!
            .col
              .wing.img-wing
                img(src="./imgs/services/services-block1.svg" alt="service-block-block1" srcset="")




      //- SERVICES DEMOS:
      .demos
        h2 demo
        | demos