section.services
  .container-fluid
    .services-container
      .all-services
        //- BLOCK ONE:
        .service-block-block1.container
          .row
            .col-sm-12.col-lg-6
              .wing.text-wing(data-aos="fade-right" data-aos-offset="300" data-aos-duration="500")
                p.service-block-flag
                  | try this services, it's free now.
                h2.service-block-heading
                  | get
                  span.youRender  youRender
                  |,
                  | and edit you videos everywhere

                p.service-block-text
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur minus, architecto mollitia vel exercitationem molestiae, obcaecati doloribus, hic et sint itaque dolore totam corrupti at vero officia. Eius, repudiandae?

                ul.service-block-features
                  li
                    span.feature-icon
                      svg.bi.bi-badge-4k-fill(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(d='M3.577 8.9v.03h1.828V5.898h-.062a46.781 46.781 0 0 0-1.766 3.001z')
                        path(fill-rule='evenodd' d='M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm2.372 3.715l.435-.714h1.71v3.93h.733v.957h-.733V11H5.405V9.888H2.5v-.971c.574-1.077 1.225-2.142 1.872-3.202zm7.73-.714h1.306l-2.14 2.584L13.5 11h-1.428l-1.679-2.624-.615.7V11H8.59V5.001h1.187v2.686h.057L12.102 5z')
                    span.feature-text
                      | heigh quality resolutions.

                  li
                    span.feature-icon
                      svg.bi.bi-cloud-upload-fill(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0z')

                    span.feature-text
                      | increase you cloud for cheap prices.

                  li
                    span.feature-icon
                      svg.bi.bi-shield-slash-fill(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1.357 3.478c-.42 3.969.87 6.928 2.423 8.911a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586.466-.32.983-.74 1.502-1.263L1.357 3.478zm11.787 7.545c1.145-1.984 1.902-4.644 1.444-8a1.454 1.454 0 0 0-1.003-1.183 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5c-.662 0-1.77.249-2.813.525-.548.145-1.1.303-1.59.45l9.547 9.548z')
                        path(fill-rule='evenodd' d='M14.646 15.354l-14-14 .708-.708 14 14-.707.707z')
                    span.feature-text
                      | lower ADs appeared

                button.btn.service-block-btn
                  | try it 15 days free!
            .col-sm-12.col-lg-6
              .wing.img-wing(data-aos="fade-left" data-aos-offset="300" data-aos-duration="500")
                img(src="./imgs/services/services-block1.svg" alt="service-block-block1" srcset="")

        section.declaration(data-aos="zoom-in")
          .container
            .dec-header
              p.header-text.text-center
                | 80% of our clients turned their accounts to premium after they take premium experience.
            .dec-body
              .row
                .col-md-6.col-sm-12
                  .dec-body-img(data-aos="fade-up" data-aos-anchor-placement="top-bottom")
                    img(src="../imgs/services/services-declaration-image.svg" alt="declaration-image" srcset="")
                .col-md-6.col-sm-12
                  .dec-body-text(data-aos="flip-left")
                    .dec-logo
                    h2.dec-heading get
                      span.youRender  the AWA  advantages
                    p.dec-description
                      span.dec-awa accelerated web applications to render you videos faster
                      span (AWA) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestias ullam eligendi delectus laudantium saepe commodi amet temporibus iusto reiciendis.

            p.dec-directed.text-center.small
              | don't take our words for it,
              span.dec-directed-link
                a(href="google/youRender/awa").dec-link
                  |  google wants you to build videos with AWA  - [ click to read]
            .dec-footer.text-center
              .row
                .col
                  h6.footer-heading 
                    | our propriety render engine, helps you build full HD videos without desktop softwares.
                .col
                  a(href="/awa").awa-page
                    button.btn AWA Builder



        //- BLOCK TWO:
        .service-block-block2.container
          .row
            .col-sm-12.col-lg-6
              .wing.img-wing(data-aos="fade-left" data-aos-offset="300" data-aos-duration="500")
                img(src="./imgs/services/services-block2.svg" alt="service-block-block1" srcset="")

            .col-sm-12.col-lg-6
              .wing.text-wing(data-aos="fade-right" data-aos-offset="300" data-aos-duration="500")
                p.service-block-flag
                  | beautiful designs without designer
                h2.service-block-heading
                  | conversion optimized templates

                p.service-block-text
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur minus, architecto mollitia vel exercitationem molestiae, obcaecati doloribus, hic et sint itaque dolore totam corrupti at vero officia. Eius, repudiandae?

                ul.service-block-features
                  li
                    span.feature-icon
                      svg.bi.bi-check2(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z')

                    span.feature-text
                      | 180+ conversion driven templates.

                  li
                    span.feature-icon
                      svg.bi.bi-check2(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z')

                    span.feature-text
                      | 360+ blueprint blocks.

                button.btn.service-block-btn
                  | try conversion optimized templates

                a(href="/all-templates").feature-browse-all
                  p
                    | browse all templates
                    span.arrow
                      svg.bi.bi-chevron-right(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')

        //- BLOCK THREE:
        .service-block-block3.container
          .row
            .col-sm-12.col-lg-6
              .wing.text-wing(data-aos="fade-right" data-aos-offset="300" data-aos-duration="500")
                p.service-block-flag
                  | secure cloud hosting
                h2.service-block-heading
                  | publish your videos with a single click

                p.service-block-text
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur minus, architecto mollitia vel exercitationem molestiae, obcaecati doloribus, hic et sint itaque dolore totam corrupti at vero officia. Eius, repudiandae?

                ul.service-block-features
                  li
                    span.feature-icon
                      svg.bi.bi-gear-fill(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z')
                    span.feature-text
                      | performance optimization.

                  li
                    span.feature-icon
                      svg.bi.bi-file-zip-fill(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M8 1h4a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h2.5v1h1v1h-1v1h1v1h-1v1h1v1H9V6H8V5h1V4H8V3h1V2H8V1zM6.5 8.5a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v.938l.4 1.599a1 1 0 0 1-.416 1.074l-.93.62a1 1 0 0 1-1.109 0l-.93-.62a1 1 0 0 1-.415-1.074l.4-1.599V8.5zm2 .938V8.5h-1v.938a1 1 0 0 1-.03.243l-.4 1.598.93.62.93-.62-.4-1.598a1 1 0 0 1-.03-.243z')
                    span.feature-text
                      | image compression.

                  li
                    span.feature-icon
                      svg.bi.bi-patch-check-fll(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z')
                    span.feature-text
                      | secure SSL.

                  li
                    span.feature-icon
                      svg.bi.bi-hdd-network-fill(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h5.5v3A1.5 1.5 0 0 0 6 11.5H.5a.5.5 0 0 0 0 1H6A1.5 1.5 0 0 0 7.5 14h1a1.5 1.5 0 0 0 1.5-1.5h5.5a.5.5 0 0 0 0-1H10A1.5 1.5 0 0 0 8.5 10V7H14a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm.5 3a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2 0a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z')
                    span.feature-text
                      | global repositories.

                  li
                    span.feature-icon
                      svg.bi.bi-shield-fill-exclamation(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z')
                    span.feature-text
                      | private repositories.

                  li
                    span.feature-icon
                      svg.bi.bi-person-plus-fill(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' d='M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z')
                        path(fill-rule='evenodd' d='M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z')

                    span.feature-text
                      | multi account.

                button.btn.service-block-btn
                  | try our services, it's free!
            .col-sm-12.col-lg-6
              .wing.img-wing(data-aos="fade-left" data-aos-offset="300" data-aos-duration="500")
                img(src="./imgs/services/services-block3.svg" alt="service-block-block1" srcset="")



      //- SERVICES DEMOS:
      section.demos
        .container
          .row
            .col-md-6.col-sm-12(data-aos="flip-up" data-aos-duration="1000")
              .demo-card.card1
                .flex-shield
                  span.card-flag.uppercase
                    | analytics
                  h2.card-heading gain valuable insights
                  .card-img
                    img(src="./imgs/services/demos/demo-card1.svg" alt="" srcset="")

            .col-md-6.col-sm-12(data-aos="flip-up" data-aos-duration="2000")
              .demo-card.card2
                .flex-shield
                  span.card-flag.uppercase
                    | forms
                  h2.card-heading capture leads
                  .card-img
                    img(src="./imgs/services/demos/demo-card2.svg" alt="" srcset="")

            .col-md-6.col-sm-12(data-aos="flip-up" data-aos-duration="3000")
              .demo-card.card3
                .flex-shield
                  span.card-flag.uppercase
                    | a.b testing
                  h2.card-heading do more without pain
                  .card-img
                    img(src="./imgs/services/demos/demo-card3.svg" alt="" srcset="")

            .col-md-6.col-sm-12(data-aos="flip-up" data-aos-duration="4000")
              .demo-card.card4
                .flex-shield
                  span.card-flag.uppercase
                    | 53+ free-built modules 
                  h2.card-heading
                    | heading
                  .card-img
                    img(src="./imgs/services/demos/demo-card4.svg" alt="" srcset="")

