section.showcase
  .container
    .product-showcase
      .feature
        .feat-wrapper
          .icon.icon-1
            img(src="./imgs/showcase/video-camera.svg" alt="alt")
          span.title export videos

      .feature
        .feat-wrapper
          .icon.icon-2
            img(src="./imgs/showcase/analytics.svg" alt="alt")
          span.title well pricing

      .feature
        .feat-wrapper
          .icon.icon-3
            img(src="./imgs/showcase/ruler.svg" alt="alt")
          span.title full resolutions


      .feature
        .feat-wrapper
          .icon.icon-4
            img(src="./imgs/showcase/vector.svg" alt="alt")
          span.title easy editing

      .feature
        .feat-wrapper
          .icon.icon-5
            img(src="./imgs/showcase/lightning.svg" alt="alt")
          span.title fast exporting

      .feature
        .feat-wrapper
          .icon.icon-6
            img(src="./imgs/showcase/font-design.svg" alt="alt")
          span.title text animation

      .feature
        .feat-wrapper
          .d
            .icon.icon-7
              img(src="./imgs/showcase/database.svg" alt="alt")
            span.title cloud database
