// IMPORTING:
@import "../helpers/vars";

footer.footer {
  background: #fff;
  padding: 50px;

  section.footer-body-container {
    .site-map {
      .logo {
        background: url("../imgs/footer/app-logo.svg") center/cover;
        width: 200px;
        height: 70px;
        margin-left: -16px;
      }

      p.brand-description {
        font-size: 20px;
        color: $c2-alt;
        line-height: 25px;
        margin-top: 35px;
      }

      ul.social-contacts {
        display: flex;

        li {
          padding: 5px;
          margin: 5px;

          a {
            text-decoration: none;
            color: $c2-alt;
          }
        }
      }
    }

    .other-navigable-links {
      .links-block {
        h5.links-block {
          font-weight: bold;
          color: $c-alt;
        }

        ul.social-contacts {
          li {
            display: flex;
            transition: all ease-in-out 0.2s;
            margin-top: 5px;

            &:hover {
              margin-left: 10px;

              a {
                color: $alt-cl;
              }
            }

            span.icon {
              font-size: 12px;
              margin-right: 5px;
              margin-top: 1px;
            }

            a {
              font-size: 18px;
              color: $c2-alt;
              text-decoration: none;
            }
          }
        }
      }
    }

    section.footer-foot {
      margin-top: 70px;
      padding: 20px;
      margin-top: 100px;
      border-top: 1px solid $c-gray;

      p.copyrights-line.text-center {
        font-size: 20px;
        color: $c2-alt;

        a {
          color: $c2-alt;
          text-decoration: none;
          font-weight: bold;
          display: inline-block;

          &::first-letter {
            text-transform: uppercase !important;
          }
        }
      }
    }
  }
}
