// IMPORTS:
@import "../helpers/vars";

nav.navbar {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -20px;

  a.navbar-brand {
    .logo-container {
      background-image: url("../imgs/nav/app-logo.svg");
      width: 220px;
      height: 100px;
      background-size: cover;
    }
  }

  button.navbar-toggler {
    width: 50px;
    border: none;

    div.bars-container {
      width: 100%;

      span.toggler-bar {
        background: #333;
        width: 100%;
        height: 2px;
        display: block;
        margin-bottom: 4px;
        margin-top: 4px;
      }
    }
  }
  .collapse.navbar-collapse {
    justify-content: flex-end;

    ul.navbar-nav {
      align-items: center;

      li {
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    button.free-trail {
      font-family: $main-font;
      border: 1px solid $alt-cl-d;
      margin-left: 30px;

      &:hover {
        background: $main-cl;
        color: #fff;
        background: $alt-cl;
      }
    }

    button.login {
      margin-left: 10px;
      border: 1px solid $c-gray-8;
      background: $main-cl;
      border: 1px solid $main-cl-d;
      color: #fff;

      &:hover {
        background: $main-cl-l;
      }

      svg.bi.bi-arrow-right {
        font-size: 19px;
      }
    }
  }
}
