doctype html
html
  head
    title youRender|Home
    link(rel="stylesheet" href="./css/app-style.css")
    link(href='https://fonts.googleapis.com/css2?family=Rowdies:wght@700&family=Staatliches&family=Tajawal:wght@300;400&display=swap' rel='stylesheet')

  body
    //- involve navbar 
    include ../components/nav.component.pug


    //-******************* THE REST OF CONTENT *******************-//
    //- involve header...
    include ../layouts/home/header.section.pug

    //- involve show case section...
    include ../layouts/home/showcase.layout.pug

    //- involve services  section...
    include ../layouts/home/services.section.pug


    //-******************* THE END OF CONTENT *******************-//



    //- involve footer
    //- include components/footer.component.pug

    //- Seeding the main script file
    script(src="./js/app-script.js")