doctype html
html
  head
    link(rel="stylesheet" href="./css/app-style.css")

  body
    //- involve navbar 
    include ../components/nav.component.pug


    //-******************* THE REST OF CONTENT *******************-//
    //- involve header...

    //-******************* THE END OF CONTENT *******************-//



    //- involve footer
    //- include components/footer.component.pug

    //- Seeding the main script file
    script(src="./js/app-script.js")