@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&family=Staatliches&family=Tajawal&display=swap"); // place your fonts.
@import "./vars";

body {
  font-family: $normal-font;
  color: $c-main;
  height: 10000px;

  h1,
  h2.h1 {
    font-family: $headings-font;
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
