@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400&display=swap');
@import './vars';

@import 'aos/dist/aos.css';

// GLOBAL CLASSES:
.toggle-FAQ-icon {
  .toggler-viewer {
    top: -59px !important;
  }
}

img {
  width: 100%;
}

// GLOBAL STYLE:
body {
  font-family: $main-font;
  color: $c-main;

  h1,
  h2.h1 {
    font-family: $main-font;
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li,
  p,
  a,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &::first-letter {
      text-transform: uppercase !important;
    }
  }
}
