/*=*=*==*=*=*=*
	VERSION       		:  3.1,
	CODED BY      		:  AHMED ALI SALIH,
	MY WORK EMAIL 		: Ahmedsalihdev@gmail.com,
	MY PORTFOLIO			: https://ahmedsalih.netlify.com
*=*=*==*=*=*=*/

/* START MEDIA QUERY PART */

// MEDIA BREAKPOINTS VARS.
$extra_small_point: 575.98px;
$small_point: 767.98px;
$medium_small_point: 991.98px;
$large_small_point: 1199.98px;
$extra_large_small_point: 1200px;

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: $extra_small_point) {
  nav.navbar {
    .collapse.navbar-collapse {
      a {
        width: 100%;
      }

      a.login-link.btn.free-trail {
        margin-bottom: 0.5rem;
        margin-top: 2rem;
      }
    }
  }

  header.header.home-header {
    height: 60vh;
    nav.navbar {
      .collapse.navbar-collapse {
        a {
          width: 100%;
        }

        a.login-link.btn.free-trail {
          margin-bottom: 0.5rem;
          margin-top: 2rem;
        }
      }
    }

    .header.content {
      width: 100%;
      text-align: center;

      h1.header-heading {
        font-size: 40px;
      }

      p.header-description {
        font-size: 18px;
      }

      a.btn.get-free-trail {
        padding: 0.7rem;
        font-size: 13px;
      }
    }
  }

  .service-block-block1,
  .service-block-block2,
  .service-block-block3 {
    .wing.text-wing {
      text-align: center;

      ul.service-block-features {
        li {
          span.feature-text {
            &::after {
              display: none !important;
            }
          }
        }
      }
    }
  }

  section.more-about {
    .about-ad {
      h2.adv-heading {
        font-size: 40px;
      }
    }
  }

  section.preFooter {
    h2.prefooter-heading {
      font-size: 40px;
    }

    p.prefooter-description {
      font-size: 16px;
    }

    button.prefooter-btn.btn {
      padding: 12px 22px 7px;
      margin-top: 50px;
      font-size: 15px;
    }
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: $extra_small_point) and (max-width: $small_point) {
  nav.navbar {
    .collapse.navbar-collapse {
      ul.navbar-nav {
        align-items: flex-start;
      }
    }
  }
  nav.navbar {
    .collapse.navbar-collapse {
      a {
        width: 100%;
      }

      a.login-link.btn.free-trail {
        margin: 0.5rem 0;
      }
    }
  }

  header.header.home-header {
    height: 60vh;
    .header.content {
      width: 100%;
      text-align: center;

      h1.header-heading {
        font-size: 50px;
      }

      p.header-description {
        font-size: 20px;
      }

      a.btn.get-free-trail {
        padding: 0.8rem;
        font-size: 14px;
      }
    }
  }

  .service-block-block1,
  .service-block-block2,
  .service-block-block3 {
    .wing.text-wing {
      text-align: center;

      ul.service-block-features {
        li {
          span.feature-text {
            &::after {
              display: none !important;
            }
          }
        }
      }
    }
  }

  section.more-about {
    .about-ad {
      h2.adv-heading {
        font-size: 40px;
      }
    }
  }

  section.preFooter {
    h2.prefooter-heading {
      font-size: 50px;
    }
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: $small_point) and (max-width: $medium_small_point) {
  nav.navbar {
    .collapse.navbar-collapse {
      ul.navbar-nav {
        align-items: flex-start;
      }

      a {
        width: 100%;
      }

      a.login-link.btn.free-trail {
        margin-bottom: 0.5rem;
        margin-top: 2rem;
      }
    }
  }

  header.header.home-header {
    .header.content {
      width: 80vw;

      h1.header-heading {
        font-size: 60px;
      }

      p.header-description {
        font-size: 20px;
      }

      a.btn.get-free-trail {
        font-size: 14px;
      }
    }
  }

  .service-block-block1,
  .service-block-block2,
  .service-block-block3 {
    .wing.text-wing {
      text-align: center;

      ul.service-block-features {
        li {
          span.feature-text {
            &::after {
              display: none !important;
            }
          }
        }
      }
    }
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: $medium_small_point) and (max-width: $large_small_point) {
  nav.navbar {
    .collapse.navbar-collapse {
      a.login-link.btn.free-trail {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: $extra_large_small_point) {
  nav.navbar {
    .collapse.navbar-collapse {
      a.login-link.btn.free-trail {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }
}

/* END MEDIA QUERY PART */
