// IMPORTING:
@import '../helpers/vars';

@mixin pseudo-border-bottom {
  content: '';
  position: absolute;
  top: 65px;
  left: 15px;
  display: block;
  width: 100%;
  border-top: 1px dashed $c-gray-1;
}

@mixin FAQ-toggling {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 30px;
  transform: translate(0, -50%);
  height: 30px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bolder;
  color: $v-dark;
  display: flex;
  align-items: center;
  justify-content: center;
}
