// FONTS:
$bold-font: "Staatliches", cursive;
$headings-font: "Rowdies", cursive;
$normal-font: "Tajawal", sans-serif;

// COLORS:
$main-cl: #f0654c;
$main-cl-d: #ca503b;

$alt-cl: #40407a;
$alt-cl-d: #313163;

$alt2-cl: #ffb142;
$alt2-cl-d: #c78426;

// grays
$c-gray: #ddd;
$c-gray-8: #ddd8;
