// FONTS:
$bold-font: "Staatliches", cursive;
$headings-font: "Rowdies", cursive;
$normal-font: "Tajawal", sans-serif;

// COLORS:
$main-font: #f0654c;
$main-font-d: #ca503b;

$alt-font: #40407a;
$alt-font-d: #313163;

$alt2-font: #ffb142;
$alt2-font-d: #c78426;

// grays
$c-gray: #ddd;
$c-gray-8: #ddd8;
