// FONTS:
$bold-font: "Staatliches", cursive;
$headings-font: "Rowdies", cursive;
$normal-font: "Tajawal", sans-serif;

// COLORS:
$main-cl: #f0654c;
$main-cl-l: #e28574;
$main-cl-d: #ca503b;

$alt-cl: #40407a;
$alt-cl-l: #66668d;
$alt-cl-d: #313163;

$alt2-cl: #ffb142;
$alt2-cl-l: #f0bb70;
$alt2-cl-d: #c78426;

$alt3-cl: #008080;
$alt3-cl-l: #2fa0a0;
$alt3-cl-d: #035555;

// grays and black
$v-dark: #323246;
$c-main: #222;
$c-alt: #444;
$c2-alt: #666;
$c-gray: #ddd;
$c-gray-8: #ddd8;
