footer.footer
  .container
    section.footer-body-container
      .flex-shield
        .row
          .col-xs-12.col-lg-3.col-xl-4
            .site-brand
              .logo
              p.brand-description
                | A Blazing fast, fully responsive drag and drop landing page builder.

              ul.social-contacts
                li
                  a(href="#") instagram
                li
                  a(href="#") twitter
                li
                  a(href="#") linkedin

          .col-xs-12.col-lg-9.col-xl-8
            .site-map
              .row
                .col-xs-12.col-md-6.col-lg-4
                  .links-block.block1
                    h5.links-block products

                    ul.social-contacts
                      li
                        span.icon
                          +footer-arrow
                        a(href="#")
                          | pricing
                      li
                        span.icon
                          +footer-arrow
                        a(href="#")
                          | templates
                      li
                        span.icon
                          +footer-arrow
                        a(href="#")
                          | features
                      li
                        span.icon
                          +footer-arrow
                        a(href="#")
                          | performance

                .col-xs-12.col-md-6.col-lg-4
                  .links-block.block1
                    h5.links-block solutions

                    ul.social-contacts
                      li
                        span.icon
                          +footer-arrow
                        a(href="#")
                          | for Agencies
                      li
                        span.icon
                          +footer-arrow
                        a(href="#")
                          | for SaaS
                      li
                        span.icon
                          +footer-arrow
                        a(href="#")
                          | for Ecommerce

                .col-xs-12.col-md-6.col-lg-4
                  .links-block.block1
                    h5.links-block company

                    ul.social-contacts
                      li
                        span.icon
                          +footer-arrow
                        a(href="#")
                          | contact
                      li
                        span.icon
                          +footer-arrow
                        a(href="#")
                          | knowledge Base
                      li
                        span.icon
                          +footer-arrow
                        a(href="#")
                          | terms & Conditions
                      li
                        span.icon
                          +footer-arrow
                        a(href="#")
                          | privacy Policy



        section.footer-foot
          p.copyrights-line.text-center
            | A product of 
            a(href="http://www.twitter.com/salihcode") ahmed salih. 
            |  Copyright 2020. All rights reserved